body {
    width: 98vw;
    height: 98vh;
}

main {
     width: 100%;
     height: 100%; 
     animation: color 5s infinite linear;
     display: flex;

}
main > div {
    width: fit-content;
    display: grid;
    margin: auto;
}
main > div video {
    place-self: end center;
    width: 70vw;
    aspect-ratio: 16/9;
}
main > div button {
    height: fit-content;
}

main > div > div p {
    opacity: 0;
    position: absolute;
}
main > div > div {
    height: fit-content;
    position: relative;
    width: 100%;
    min-height: 1em ;
}